/* styles/Header.module.css */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4267b2;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  
  .profileIcon {
    margin-left: 20px;
  }
  